body{
    background-image: url("tlo.jpg");
    margin: 60px;
    font-family: Arial;
}

.container{

}

#naglowek {
    background-color: bisque;
    height: 400px;
    width: 75%;
    float: left;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

#zdjecie1{
    background-color: bisque;
    height: 400px;
    width: 25%;
    float: left;
    text-align: center;
}

#zdjecie2{
    background-color: #e8d092;
    height: 400px;
    width: 25%;
    float: left;
    text-align: center;
}

#zdjecie3{
    background-color: lightgray;
    height: 400px;
    width: 25%;
    float: left;
    text-align: center;
}

#kontent1{
    width: 75%;
    height: 400px;
    background-color: #e8d092;
    float: left;
    text-align: center;

}

#kontent2{
    width: 75%;
    height: 400px;
    float: left;
    text-align: center;
    background-color: lightgray;
}

h1{
    padding: 60px;
    font-size: 80px;
}

h2{
    padding-top:  50px;
    font-size: 40px;
}

.tekst{
    font-size: 25px;
    margin-left: 100px;
    margin-right: 100px;
}

#sociale{
    width: 100%;
    height: 400px;
    background-color: black;
    float: left;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 60px;
    color: white;
    font-family: "Dancing Script";
    font-size: 70px;
}

#IG:hover{
    color: #a00cc9;
}

#FB:hover{
    color: #1149cc;
}

#YT:hover{
    color: #ab0a2a;
}

#TW:hover{
    color: #2854e1;
}

#IG{
    color: #C13584;
    padding-left: 50px;
    padding-right: 50px;
}

#FB{
    color: #2b59c5;
    padding-left: 50px;
    padding-right: 50px;
}

#YT{
    color: #ef0800;
    padding-left: 50px;
    padding-right: 50px;
}

#TW{
    color: #1c75bd;
    padding-left: 50px;
    padding-right: 50px;
}

img{
    border-radius: 1000px;
}

hr{
    margin: 20px;
}